<% provide(:title, 'Food Api') %>

<div ng-app="myApp" ng-controller="DrinkController">

<button ng-click="bawaPergiIndexLahLahanat()" class="btn btn-default" style="text-transformation:capitalize">Back</button>

<form ng-submit="create()">
<div class="form-group">
  <label>Name: </label>
    <input type="text" class="form-control" placeholder="" ng-model="foodName">
</div>
<button type="submit" class="btn btn-primary" style="text-transform:capitalize;">Create</button>
</form>


</div>

<script type="text/javascript">

var app = angular.module('myApp', []);

app.controller('DrinkController', function($scope, $http, $window){

  $scope.bawaPergiIndexLahLahanat = function(){
      console.log("btn clicked");
      $window.location.href = "http://localhost:3000/drinks"
    }

  var host = window.location.host;
  console.log(host); // get hostname (locahost OR example.com)

  $scope.create = function(){
    var foodName = $scope.foodName;
    console.log(foodName);

    $http.post("http://" + host + "/api/drinks/", {name: foodName})
    .success(function(data) {
      console.log("record created");
      $window.location.href = "http://localhost:3000/drinks"
    })
    .error(function(){
      console.log("record create error")
    });


  }
    
});

</script>